<div data-action="click->session#toggleDropdown" class="inline-block text-left" hidden>
  <div class="rounded-full bg-white h-16 w-16 flex items-center justify-center">
    <span class="rounded-md shadow-sm text-red-500">
      <%= current_user.name.split.map(&:first).join %>
    </span>
  </div>
  <div data-target="session.dropdown" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg" hidden>
    <div class="rounded-md bg-white shadow-xs">
      <div class="py-1" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
        <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">Account settings</a>
        <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem">Support</a>
        <%= link_to 'Search Histories', user_search_histories_path(current_user.username), class: 'block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900', role: 'menuitem' %>
        <%= link_to 'Sign out', sessions_destroy_path, method: 'delete', class: 'block w-full text-left px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900', role: 'menuitem' %>
      </div>
    </div>
  </div>
</div>
